/*#bodyboundaries {
  border: 2px solid black;
  border-right: 4px solid #ff4444;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow-y: scroll;
  display: inline-block;
  padding-top: 50px;
}*/

h1{
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
  line-height: 70%;
  text-shadow: 5px 2px #d4ff00;
}
li{
  text-align: left;
}
/*.blogentry < a {
  border-radius: 0px;
  border-bottom: 1px dashed black;
  text-align: center;
  clear: both;
  display: block;
  margin-bottom: 20px;
}*/