/*
.archive {
  border: 2px solid black;
  border-right: 6px solid #ff4444;
  height: 1000px;
  width: 22%;
  float: left;
  display: inl;
  padding-top: 50px;
}*/
.blogentry {
  border: 2px solid black;
  border-right: 4px solid #ff4444;
  height: 70%;
  width: 70%;
  margin: auto;
  overflow-y: scroll;
  display: inline-block;
  padding-top: 50px;
}
.blogentry a {
  border-radius: 0px;
  border-bottom: 1px dashed black;
  text-align: center;
  clear: both;
  display: block;
  margin-bottom: 20px;
}