
#projects {
  text-align: center;
}
.description {
  border: 2px solid black;
  height: 300px;
}
.pj1, .pj2, .pj3 {
  border: 3px dashed black;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.pj1 {
  margin-right: 50px;
}
.pj3 {
  margin-left: 50px;
